# Node
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
coverage/ 

# Ignore custom API and page for candidate votes
src/candidateVotesApi.ts
src/candidateVotesPage.html 